*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}
.parent{
    display: flex;
    width: 650px;
    height: 650px;
    background-color: lightcoral;
    margin: 10px;
    border: 1px solid black;

}

.yellow{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 241, 148);
    width: 50%;
    justify-content: space-between;
    margin: 10px;
    margin-right: 5px;
}

.green{
    display: flex;
    background-color: green;
    height: 100px;
    /*align-items: center;*/
    margin: 10px;
    border: 1px solid black;
}
.light-blue{
    /*display: flex;*/
    background-color: lightskyblue;
    height: 100px;
    margin:10px;
}

.red {
    display: flex;
    background-color: red;
    width: 50%;
    flex-direction: column;
    margin: 10px;
    margin-left: 5px;
}
.blue:nth-child(odd){
    background-color: blue;
    align-self: flex-end;
}
.blue:nth-child(even){
    background-color: blue;
}
.size-blue{
    width: 100px;
    height: 100px;
    margin: 10px;
}