*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}
.parent {
    display: flex;
    width: 650px;
    height: 650px;
    background-color: darkred;
    margin: 10px;
    padding: 10px;
    /*border: 1px solid black;*/

}
.yellow{
    margin-right: 10px;
    /*display: flex;*/
    background-color: yellow;
    width: 250px;
    flex-direction: column;
    overflow: auto;


}
.green{
    background-color: green;
    height: 100px;
    width: auto;
    flex-direction: column;
    margin: 10px;
}
.brown {
    background-color: saddlebrown;
    flex-direction: column;
    margin: 10px;
    height: 100px;
    width: auto;
}
.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 10px;
}

.content__row {
    display: flex;
    column-gap: 10px;
}

.content__row:last-child {
    flex-grow: 1;
}

.darkkhaki{
    background-color: darkkhaki;
    height: 100px;
    width: 100%;
}
.purple{
    flex-direction: row;
    background-color: purple;
    height: 200px;
    width: 50%;

}
.blue{
    background-color: blue;
    width: 33.333333%;
    flex-direction: row;
    height: 100px;

}

.light-blue {
    height: 100%;
    width: 100%;
    background-color: lightblue;
}