* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}
.parent {
    width: 600px;
    height: 600px;
    background: purple;
    margin: 20px auto;
}
.size-blue{
    width: 100px;
    height: 100px;
}
.bg-yellow{
    background: yellow;
}
.bg-blue{
    background: blue;
}
.bg-green{
    background: green;
}

.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.green {
    height: 33.333%;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}
.green:nth-child(2){
    justify-content: space-between;
}
.yellow{
    width: 33.333%;
}
.j-c-s-b {
    justify-content: space-between;
}
.blue{
    width: 50px;
    height: 50px;
}

.p-10 {
    padding: 10px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.block1{
    flex-direction: column;
    justify-content: space-between;
}
.block2{
    flex-direction: column;
    justify-content: space-between;
}
.green:nth-child(3){
    flex-direction: row-reverse;
}
.align_self{
    align-self: flex-end;
}